body {
	background-color: #0d0d0d;
	text-align:center;
}

header {
	background-image: url("header.jpg");
	margin: auto;
	height: 80px;
	width: 100%;
}

#header_title {
	color: #b3b3b3;
	text-align: center;
	text-decoration: overline;
	text-shadow: 3px 2px #660000;
	font-size: 50px;
}

.nav {
	background-color: #595959;
	color: #ffffff;
	list-style: none;
	text-align: center;
	padding: 20px 0 20px 0;
}

.nav > li {
	display: inline-block;
	padding-right: 50px;
}

article {
	margin: auto;
	height: 350px;
	width: 60%;
	display: inline-block;
	float: left;
}

aside{
	margin: auto;
	height: 350px;
	width: 39%;
	color: #b3b3b3;
	display: inline-block;
	float: right;
	
}

ul {
	text-align: left;
	list-style-type: circle;
	list-style-position: inside;
}

table, tr, th, td {
	border-collapse: collapse;
	border: 1px solid #660000;
}

th {
	height: 30px;
	font-size: 20px;
}

a {
    color: blue;
}

a:hover {
	color: purple;
}

a:active{
	color: white;
}

p {
	color: #b3b3b3;
	text_align: center;
}

h1, h3 {
	color: #b3b3b3;
	text-align: center;
}

footer {
	margin: auto;
	height: 30px;
	width: 40%;
	display: inline-block;
	float: bottom;
}

.bordered {
	border-style: outset;
	border-width: medium;
	border-color: #737373;
	border-radius: 7px;
}

.background {
	background-color:  #4d0000;
}
